.input_container {
    padding: 100px 0px;
}

.main_image {
    padding: 100px 0px !important;
    position: relative;
}

.girl_img {
    position: relative;
}

.girl_img img {
    width: 100%;
}

.account_img {
    position: absolute;
    top: 190px;
    left: 10%;
}

@media screen and (max-width: 768px) {
    .account_img {
        left: 5%;
        top: 150px;
    }
}

.account_img img {
    width: 200px;
}

@media screen and (max-width: 768px) {
    .account_img img {
        width: 30%;
    }
}

.input_container label {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

.account_title {
    font-family: sans-serif;
    font-size: 30px;
}

.submit_btn button {
    padding: 10px 27px;
    background-color: #31D2F2 !important;
    border: 1px solid #31D2F2 !important;
    font-family: sans-serif;
    font-size: 15px;
    color: white !important;
}

.account_link {
    font-family: sans-serif;
    padding-top: 20px;
    font-size: 13px;
}