.main_container {
    background-color: white;
    padding: 30px 0px;
    margin-top: auto;
    box-shadow: var(--shadow);
    flex-grow: 1;

}

.footer_logo {
    width: 30%;
    margin: auto;
}

.footer_logo img {
    width: 100%;
}

.footer_text {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}